.categories_navbar {
  $cat-border: 1px solid $light-grey;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  height: 2rem;
  margin: 2rem 0;
  padding: 0;

  position: sticky;
  top: 0;

  @include media-breakpoint-up(lg) {
    height: 4.7rem;
  }

  select {
    width: 100%;
    background-color: $white;
    padding: 1rem 0.5rem;
    border: $cat-border;
    border-radius: $text-editor-border-radius;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  ul {
    display: none;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      border-top: $cat-border;
      border-bottom: $cat-border;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      background-color: $white;
      text-transform: uppercase;

      .active {
        color: $tertiary;
        font-weight: $bold;
      }

      li {
        width: 14rem;
      }

      li:not(:last-child) {
        margin-right: 1rem;
      }

      a {
        white-space: pre-wrap;
      }
    }
  }
}
