* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $primary-font;
  line-height: 1.6;
  background-color: $white;
  color: $black;
  letter-spacing: 1px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.main-container {
  scroll-behavior: smooth;
}
