$white: #fafafa;
$black: #05070e;
$grey: #b0b1b3;
$light-grey: #d8d8d8;
$light-blue: #0c81e4;
$navy-blue: #0c4e8c;
$turquoise: #11c4d4;
$green: #5dc79e;
$light-green: #f2feef;
$grey-blue: #3d5a80;
$light-grey-blue: #5c86bd;

$primary: $navy-blue;
$secondary: $light-blue;
$tertiary: $turquoise;

$light-white: rgba($white, .3);
$light-primary: rgba($primary, .3);
$fb-grey: #F0F2F5;

$editor-bg: #011627;
$editor-color: #d6deeb;
