.ruby_pros {
  min-height: 27rem;
  margin-bottom: 2rem;

  display: flex;
  justify-items: center;
  align-items: center ;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }

  h2 {
    color: $primary;
  }

  svg {
    width: 4rem;
    height: 4rem;
  }

  .container {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    p {
      @include media-breakpoint-up(md) {
        width: 80%;
      }
    }

    h2 {
      margin-bottom: 1rem;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      margin-bottom: 3rem;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }

  #readableIcon {
    .st0 {
      fill: $secondary;
      stroke: $primary;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      animation: closeEyeOpacity 4s ease infinite 10s;
    }
    .st1 {
      fill: $white;
      stroke: $primary;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st2 {
      fill: none;
      stroke: $primary;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      animation: closeEye 4s ease infinite 10s;
    }
    .st3 {
      fill: $white;
      animation: closeEyeInside 4s ease infinite 10s;
    }
    .st4 {
      fill: $tertiary;
      animation: closeEyeOpacity 4s ease infinite 10s;
    }
  }

  #reliableIcon {
    .st0 {
      fill: $secondary;
    }
    .st1 {
      fill: $primary;
    }
    .st2 {
      fill: $tertiary;
      animation: roundSize 5s ease infinite;
      transform-origin: center right;
    }
    .st3 {
      fill: $white;
      animation: checkOpacity 5s ease infinite;
      transform-origin: center right;
    }
  }
  // reliable icon
  @keyframes roundSize {
    0% {
      transform: scale(0.5);
    }
    48%, 100% {
      transform: scale(1);
    }
  }

  @keyframes checkOpacity {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    48%, 100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  // readable icon
  @keyframes closeEye {
    0% {
      fill: none;
    }
    15%, 17% {
      fill: $primary;
    }
    17%, 100% {
      fill: none;
    }
  }

  @keyframes closeEyeInside {
    0% {
      fill: none;
    }
    15%, 17% {
      fill: $primary;
    }
    17% {
      opacity: 0;
    }
    17%, 100% {
      opacity: 1;
      fill: $white;
    }
  }

  @keyframes closeEyeOpacity {
    0% {
      opacity: 1;
    }
    10%, 15% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    } 
  }
}
