<section class="activity">
  <div class="container">
    <%= partial 'partials/index/activity_icon' %>

    <div class="activity__text">
      <p>
        <%= data.pages.home.activity.institutions %>
      </p>
      <h2 class="text-primary">
        <%= data.pages.home.activity.catchphrase %>
      </h2>
    </div>
  </div>
</section>
